.logo {
    background: green;
    height: 30px;
}

.menu-area {
    background-color: red;
    height: 30px;
}

.menu-area ul li , .footer-menu ul li{
    display: inline;
}

.search {
    background: blue;
    height: 30px;
}

.wp-post-image {
    float: left;
    margin: 0 15px 10px 0;
}

.blog article {
    display: inline-block;
}
