header, .top-bar {
    background-color: gray;
    width: 100%;
}

.logo {
}

.menu-area {
    font-family: 'Roboto';
    font-size: 32pt;
}

.menu-area ul li a {
    text-decoration: none;
    color: white;
}

.menu-area ul li , .footer-menu ul li{
    display: inline;
}

.search-box {
}

.wp-post-image {
    float: left;
    margin: 0 15px 10px 0;
}

.blog article {
    display: inline-block;
}

.wppsac-post-slider .wppsac-post-image-bg {
    min-height: 700px;
}

.wppsac-post-content-left {
    display: flex;
    align-items: center;
}